@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* 스크롤바 전체를 위한 스타일 */
::-webkit-scrollbar {
  width: 5px; /* 스크롤바의 너비 */
  height: 5px; /* 수평 스크롤의 높이 */
}

/* 스크롤바 트랙 (트랙은 스크롤바 배경 부분) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* 트랙의 배경색 */
  border-radius: 10px; /* 트랙의 모서리 둥글기 */
}

/* 스크롤바 핸들 (썸은 사용자가 드래그할 수 있는 부분) */
::-webkit-scrollbar-thumb {
  background: #c2c2c2; /* 핸들의 배경색 */
  border-radius: 10px; /* 핸들의 모서리 둥글기 */
}

/* 스크롤바 핸들:hover (마우스를 올렸을 때) */
::-webkit-scrollbar-thumb:hover {
  background: #a1a1a1; /* 핸들의 배경색 변경 */
}
